/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif; }

#title {
  background: url("../public/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  #title-container {
    width: 100%;
    opacity: 0;
    text-align: center;
    animation: fadein 3.0s forwards; }
  #title-text {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 0; }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.title {
  padding-top: 2rem;
  font-size: 2.25rem;
  color: white;
  text-rendering: optimizeLegibility;
  margin-bottom: 1.5rem; }

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    #buttons {
      flex-direction: column; } }
  #buttons-wrapper {
    display: flex;
    flex-direction: row; }

.button {
  margin-left: .5em;
  padding: calc(0.5em - 1px) 1em;
  border: 1px solid white;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  line-height: 1.5; }
  @media screen and (max-width: 480px) {
    .button {
      margin-top: .5em; } }
  .button:hover {
    color: black;
    background-color: white; }

.section {
  height: 100%; }

#portfolio {
  background: #4e5450;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #portfolio-title {
    opacity: 0;
    text-align: center;
    color: white; }
  #portfolio-content {
    width: 80%;
    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr; }
    @media screen and (max-width: 768px) {
      #portfolio-content {
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (max-width: 480px) {
      #portfolio-content {
        grid-template-columns: repeat(1, 1fr); } }
  #portfolio-footer {
    font-size: 1.25rem;
    margin-top: 1em;
    color: white;
    text-align: center;
    padding-bottom: 1em; }

.card {
  border-radius: 10px;
  box-shadow: 3px 6px 8px #888888;
  background-color: white;
  display: flex;
  flex-direction: column; }
  .card-title {
    line-height: 1.5;
    font-weight: bold;
    font-size: 1.25em;
    padding: .75rem 1rem;
    box-shadow: 0 0.125em 0.25em rgba(10, 10, 10, 0.1);
    background-color: transparent; }
  .card-content {
    padding: 1.5rem;
    line-height: 1.25;
    font-size: 1.25em;
    flex-grow: 1; }
  .card-link {
    text-decoration: none; }
  .card-link-text {
    padding: .75rem;
    text-align: center;
    color: black;
    border-top: 1px solid #ededed; }

#aboutme {
  background: #8f754f; }
  #aboutme-title {
    opacity: 0;
    text-align: center;
    color: white; }
  #aboutme-content {
    opacity: 0; }
  #aboutme-paragraph {
    color: white;
    width: 60%;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 10px; }
    @media screen and (max-width: 480px) {
      #aboutme-paragraph {
        width: 100%; } }
  #aboutme-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%; }
