@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

$color1: rgba(210, 140, 121, 1);
$color2: rgba(180, 131, 125, 1);
$color3: rgba(142, 109, 82, 1);
$color4: rgba(79, 82, 112, 1);
$color5: rgba(48, 84, 118, 1);

#title {
    background: $color4;
    &-container {
        text-align: center;
    }
    &-text {
        color: $white;
    }
}

#aboutme {
    background: $color5;
    &-title{
        text-align: center;
        color: $white;
    }
    &-paragraph {
        color: $white;
        text-indent: 40px;
        width: 60%;
        font-size: large;
        @media screen and (max-width: 480px) {
            width: 100%;
        }
        margin-top: 10px;
    }
    &-left
    {
        &-card
        {
            width: 50%;
            @media screen and (max-width: 480px) {
                width: 100%;
            }
            height: auto;
            margin: auto;
        }
    }
    &-right
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-buttons
        {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
}

#portfolio {
    background: $color3;
    &-wrapper {
        width: 80%;
        @media screen and (max-width: 480px) {
            width: 100%;
        }
        margin: auto;
    }
}

.card {
    margin-top: 30px;
}

#footer {
    background: $color2;
    &-wrapper {
        margin: auto;
        width: 80%;
        @media screen and (max-width: 480px) {
            width: 100%;
        }
    }
    &-text {
        color: $black;
    }
}
