@charset "utf-8";

$color1: rgba(48, 55, 48, 1);
$color2: rgba(24, 24, 24, 1);
$color3: rgba(78, 84, 80, 1);
$color4: rgba(76, 105, 49, 1);
$color5: rgba(143, 117, 79, 1);

$primary: $color2;
@import "../node_modules/bulma/bulma.sass";



#title {
    background: url("../public/bg.jpg");
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    &-container {
        opacity: 0;
        text-align: center;
        animation: fadein 3.0s forwards;
    }
    &-text {
        color: $white;
    }
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 480px) {
        flex-direction: column;
    }
    &-wrapper {
        display: flex;
        flex-direction: row;
    }
}

.button {
    margin-left: 10px;
    @media screen and (max-width: 480px) {
        margin-top: 10px;
    }
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#aboutme {
    background: $color5;
    &-title{
        text-align: center;
        color: $white;
    }
    &-paragraph {
        color: $white;
        width: 60%;
        font-size: large;
        text-align: center;
        @media screen and (max-width: 480px) {
            width: 100%;
        }
        margin-top: 10px;
    }
    &-left
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &-right
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-buttons
        {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
}

#portfolio {
    background: $color3;
    &-wrapper {
        width: 80%;
        @media screen and (max-width: 480px) {
            width: 100%;
        }
        margin: auto;
    }
}

.card {
    margin-top: 30px;
    height: 45%;

}

.card-content {
    height: 12vh !important;
    max-height: 12vh !important;
    @media screen and (max-width: 480px) {
        height: 19vh !important;
        max-height: 19vh !important;
    }
}
.content {
    height: 100%;
    overflow: hidden;
}
#footer {
    background: $color2;
    &-wrapper {
        margin: auto;
        width: 80%;
        @media screen and (max-width: 480px) {
            width: 100%;
        }
    }
    &-text {
        color: $white;
    }

}
