@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

#title {
    background: $green;
    &-container {
        text-align: center;
    }
    &-text {
        color: $black;
    }
}

#aboutme {
    background: $info;
    &-title{
        text-align: center;
        color: $black;
    }
    &-paragraph {
        color: $black;
        text-indent: 40px;
        width: 60%;
        font-size: large;
        @media screen and (max-width: 400px) {
            width: 100%;
        }
        margin-top: 10px;
    }
    &-left
    {
        &-card
        {
            width: 50%;
            @media screen and (max-width: 400px) {
                width: 100%;
            }
            height: auto;
            margin: auto;
        }
    }
    &-right
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-buttons
        {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            &-wrapper
            {
            }
        }
    }
}

#portfolio {
    background: $yellow;
}
