@charset "utf-8";

$color1: rgba(48, 55, 48, 1);
$color2: rgba(24, 24, 24, 1);
$color3: rgba(78, 84, 80, 1);
$color4: rgba(76, 105, 49, 1);
$color5: rgba(143, 117, 79, 1);

$primary: $color2;
@import "./reset.scss";

body {
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#title {
    background: url("../public/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    &-container {
        width: 100%;
        opacity: 0;
        text-align: center;
        animation: fadein 3.0s forwards;
    }
    &-text {
        font-size: 3rem;
        color:  white;
        text-rendering: optimizeLegibility;
        margin-bottom: 1.5rem;
        font-weight: 600;
    }
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 480px) {
        flex-direction: column;
    }
    &-wrapper {
        display: flex;
        flex-direction: row;
    }
}

.button {
    margin-left: 10px;
    @media screen and (max-width: 480px) {
        margin-top: 10px;
    }
    padding: calc(0.5em - 1px) 1em;
    border: 1px solid white;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    line-height: 1.5;
}

.button:hover {
    color: black;
    background-color: white;
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#aboutme {
    background: $color5;
    &-title{
        opacity: 0;
        text-align: center;
        color: white;
    }
    &-content {
        opacity: 0;
    }
    &-paragraph {
        color: white;
        width: 60%;
        font-size: large;
        text-align: center;
        @media screen and (max-width: 480px) {
            width: 100%;
        }
        margin-top: 10px;
    }
    &-section
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

#portfolio {
    background: $color3;
    &-title{
        opacity: 0;
        text-align: center;
        color: white;
    }
    &-content {
        opacity: 0;
    }
    &-wrapper {
        width: 80%;
        @media screen and (max-width: 480px) {
            width: 100%;
        }
        margin: auto;
    }
    &-footer {
        font-size: large;
        margin-top: 20px;
        color: white;
        text-align: center;
    }
}

.card {
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 3px 6px 8px #888888
}


.card-content {
    font-size: medium;
}

.content {
    height: 100%;
    overflow: hidden;
}

#footer {
    background: $color2;
    &-wrapper {
        margin: auto;
        width: 100%;
        @media screen and (max-width: 480px) {
            width: 100%;
        }
    }
    &-title {
        color: white;
    }

}
